/* the smaller footnote links in a post */

:root {
    --link-underline-color-main: #EC578B;
    --link-underline-color-secondary: rgb(180, 71, 109);
    --link-underline-color-tertiary: rgb(110, 43, 65);
}

:root .dark {
    --link-underline-color-main: #A94064;
    --link-underline-color-secondary: rgb(128, 50, 77);
    --link-underline-color-tertiary: rgb(90, 44, 60);
}

/* main links in post */

.post-content a {
    text-decoration: none;
    box-shadow: none;
    background-size: 306% 100%;
    background-position: 100% 0;
    transition: 1s background-position;
    background-image: linear-gradient(to bottom, var(--theme) 92%, transparent 70%),
        linear-gradient(to right, var(--link-underline-color-tertiary) 33%, var(--link-underline-color-secondary) 33%, var(--link-underline-color-secondary) 66%, var(--link-underline-color-main) 66%);
    &:hover{
        background-position: 0%;
    }
    &:not(.anchor) {
        display: inline;
        padding-bottom: 1px;
    }
    code {
        // so the link box-shadow goes all the way across the code section
        padding: 4px 6px 0px 6px;
        box-shadow: none;
    }
}