div.notices {
    margin: 2rem 0;
    position: relative;
}

div.notices p {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}

// multi-line notices have empty paragraphs
div.notices p:empty {
    display: none;
}


div.notices .heading {
    color: white;
}

div.notices p.heading {
    line-height: 36px;
}

div.notices .heading span {
    vertical-align: middle;
}

div.notices .icon {
    padding: 0px 7px;
}



div.notices.info .heading {
    background: rgb(148, 148, 148);
}

div.notices.warning .heading {
    background: #F0B37E;
}

div.notices.danger .heading {
    background: rgb(217, 83, 79);
}

div.notices.note .heading {
    background: #6AB0DE;
}

div.notices.tip .heading {
    background: rgb(92, 184, 92);
}



div.notices .content {
    padding: 10px;
}


div.notices.info .content {
    background: rgb(224, 224, 224);
}

div.notices.warning .content {
    background: #FFF2DB;
}

div.notices.danger .content {
    background: #FAE2E2;
}

div.notices.note .content {
    background: #E7F2FA;
}

div.notices.tip .content {
    background: #E6F9E6;
}

// single line code blocks inside a notice, always use light theme

div.notices code {
    background: var(--code-bg-light)
}
